body {
  font-family: Arial;
  padding: 20px;
}

input {
  padding: 8px;
  width: 200px;
}

button {
  padding: 8px 12px;
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
}

.board {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.board div {
  border: 1px solid #ccc;
  padding: 10px;
  width: 30%;
}

.task {
  background: #f2f2f2;
  margin: 5px 0;
  padding: 5px;
}

